.button-style {
  background: #E6004C;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 125%;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: inherit;
  transition: background-color 150ms ease;
}

.button-style svg {
  margin-right: 10px;
}

.button-style:hover {
  background-color: #FF0055;
}

.button-style:focus {
  outline: none;
}

.button-style:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button-style.secondary {
  background: transparent;
  color: #F4F2FF;
  border: 1px solid #797399;
}

.button-style.secondary:hover {
  background-color: #332E4D;
}

.button-style.secondary-in-tooltip {
  background: #484266;
  color: #F4F2FF;
  border: 1px solid #797399;
}

.button-style.secondary-in-tooltip:hover {
  background-color: #797399;
}

.button-style.third {
  background: transparent;
  color: #F4F2FF;
}

.button-style.third:hover {
  background-color: #332E4D;
}

.button-style.third-in-tooltip {
  background: transparent;
  color: #F4F2FF;
}

.button-style.third-in-tooltip:hover {
  background-color: #797399;
}

.button-style.primary-marketing {
  padding: 12px 16px;
}

.button-style.secondary-marketing {
  padding: 12px 16px;
  background: transparent;
  color: #F4F2FF;
  border: 1px solid #797399;
}

.button-style.secondary-marketing:hover {
  background-color: #332E4D;
}

.button-style.subscribe {
  background: #4A18E3;
}

.button-style.subscribe .price {
  font-weight: bold;
}

.button-style.subscribe:hover {
  background-color: #551DFF;
}

.button-style.subscribe-icon {
  background: #4A18E3;
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
}

.button-style.download-icon {
  background: #4A18E3;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}


.button-style.subscribe-icon:hover {
  background-color: #551DFF;
}

.button-style .button-style-icon {
  fill: #F4F2FF;
  pointer-events: none;
  user-select: none;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: fill 150ms ease;
}

.button-style .loader-button-text {
  transition: all 150ms ease;
}

.button-style.loading {
  pointer-events: none;
  min-width: 36px;
  min-height: 36px;
  padding: 0;
  border-radius: 50px;
}

.button-style.loading .loader-button-text {
  font-size: 0px;
}

.button-style.loading .loader {
  opacity: 1;
  transform: scale(1);
}

.button-style.loading .loader svg {
  animation: 0.75s linear rotating infinite;
}

.button-style.loading .login-service-icon {
  display: none;
}

.button-style .loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  transition: opacity .4s, transform 0.4s ease-in-out;
  transform: scale(0.4);
  opacity: 0;
}

.button-style .loader svg {
  width: 18px;
  height: 18px;
}

@keyframes rotating {
  to {
    transform: rotate(360deg);
  }
}

.window-button-style {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  transition: background-color 150ms ease;
}

.window-button-style .window-controls-icon {
  fill: #958FB2;
  pointer-events: none;
  user-select: none;
  width: 30px;
  height: 30px;
  transition: fill 150ms ease;
}

.window-button-style:hover {
  background-color: #332E4D;
}

.window-button-style:hover .window-controls-icon {
  fill: #F4F2FF;
}

.window-button-style.close-window:hover {
  background-color: #E6004C;
}

.window-button-style:focus {
  outline: none;
}